FIREBASE_API_KEY=
FIREBASE_APP_ID=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
RELEASE_KEYSTORE_BASE64=
RELEASE_KEY_ALIAS=
RELEASE_KEY_PASSWORD=
RELEASE_STORE_FILE=
RELEASE_STORE_PASSWORD=
STREAM_URL=